.profile {
    max-width: 880px;
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}

.profile__info {
    display: grid;
    grid-template-areas:
        "name button"
        "about about";
    gap: 7px 18px;
    align-items: center;
}

.profile__name {
    grid-area: name;
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

.profile__about {
    grid-area: about;
    margin: 0;
    font-size: 18px;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

.profile__edit-button {
    grid-area: button;
    width: 24px;
    height: 24px;
    background: transparent url('../images/edit-button.svg') center no-repeat;
    border: 1px solid #fff;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background: transparent url('../images/add-button.png') center no-repeat;
    background-size: 22px;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-left: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        padding: 0 19px 40px;
        text-align: center;
        align-items: center;
    }

    .profile__info {
        display: grid;
        grid-template-areas:
            "name button"
            "about about";
        gap: 14px;
        width: 100%;
        max-width: 282px;
        margin: 30px auto;
        align-items: center;
        justify-content: center;
    }

    .profile__name {
        grid-area: name;
        max-width: 196px;
        text-align: center;
        margin: 0;
        font-size: 22px;
        line-height: 1.2;
    }

    .profile__edit-button {
        grid-area: button;
        margin-left: 10px;
        align-self: center;
    }

    .profile__about {
        grid-area: about;
        text-align: center;
        margin: 0;
        font-size: 14px;
        line-height: 1.2;
    }

    .profile__add-button {
        width: 100%;
        max-width: 282px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .profile {
        align-items: stretch;
    }

    .profile__avatar {
        width: 150px;
        height: 150px;
        margin: 0 auto 26px;
    }

    .profile__info {
        margin-bottom: 36px;
    }

    .profile__edit-button {
        width: 18px;
        height: 18px;
    }

    .profile__add-button {
        margin: 0;
    }
}
